* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background: #ccc;
}

/* Header */
.center {
    background-color: rgb(238, 238, 238);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 5rem;
    flex-wrap: wrap;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.center img {
    width: 11rem;
    height: 11rem;
}

.center .img-contato {
    width: 9rem;
    height: 9rem;
}

/* Products */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 5rem auto auto;
    border-radius: 1rem;
    padding: 1rem 0;
    width: 100%;
    border: 2px solid black;
}

.container h1 {
    font-size: 3.5rem;
}

.text {
    font-size: 3rem;
}

.card_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
    margin-top: 1rem;
    border-bottom: 1px solid #ddd;
    padding: 1.5rem 0;
    line-height: 2.7rem;
}

.card_item img {
    width: 13rem;
    height: 13rem;
    border-radius: 1rem;
}

.name_itens {
    flex-grow: 1;
}

.name_itens h2 {
    font-size: 2.7rem;
    text-transform: capitalize;
}

.name_itens p {
    font-size: 2rem;
}

.value {
    font-size: 2.3rem;
    font-weight: bold;
    color: #4d0202;
}

.card-item-page {
    border: 1px solid #4d0202;
    box-shadow: rgba(78, 7, 7, 0.6);
}

.forms {
    display: flex;
}



/* Buttons */
.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
    gap: 2rem;
    align-items: center;
}

.clean,
.back {
    font-size: 2rem;
    padding: 1rem 3rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
    background-color: #4d0202;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: capitalize;
    border-radius: .7rem;
    transition: 0.6s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.clean:hover,
.back:hover {
    background-color: #7f0c0c;
    box-shadow: 0 0 1rem rgba(78, 7, 7, 0.8);
}

.message {
    position: relative;
    display: block;
}

.message-text {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 6px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    margin-top: 6px;
    z-index: 1;
    opacity: 0;
    transition: .3s ease-in-out;
    text-transform: capitalize;
}

.message-text::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #333;
}

.message:hover .message-text {
    display: block;
    opacity: 1;
}

main {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: start;
    flex-wrap: wrap;
}


/* User Form */
.user-form {
    border: 2px solid black;
    margin: 5rem auto;
    width: 32rem;
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.user-form-box {
    width: 35rem;
}

.box-ext {
    width: 60%;
}

.user {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    border-style: none;
}

.checkout {
    font-size: 3rem;
    text-align: center;
    text-transform: capitalize;
}

.user label {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-right: auto;
}

.user>div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.number {
    display: flex;
    gap: 1rem;
}

.number input {
    width: 100%;
    box-sizing: border-box;
}

.user input {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.5rem;
    background-color: #eeeeee;
    box-sizing: border-box;
    color: black;
}

.text-boleto {
    font-size: 1.6rem;
    text-align: center;
}

.box-button {
    text-align: center;
    padding: 0 1.5rem;
}

.comfirm {
    background-color: #aa0404;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    border-radius: 1rem;
    border: none;
    width: 100%;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.comfirm:hover {
    background-color: #4d0202;
    box-shadow: 0 0 1rem rgba(78, 7, 7, 0.6);
}

/* Payment */
.pay {
    width: 100%;
    border-style: none;
}

.pay_input {
    justify-content: space-evenly;
    display: flex;
    margin-top: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.card_pay,
.pix_box,
.boleto {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 1.5rem;
    border-style: none;
}

.card_pay input,
.pix_box input {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 1.5rem;
    background-color: #eeeeee;
    box-sizing: border-box;
    color: black;
}

.card_pay label,
.pix_box label,
.boleto label {
    font-size: 2rem;
    font-weight: 600;
    font-family: sans-serif;
    margin-right: auto;
    text-transform: uppercase;
}

.card_pay .comfirm,
.pix_box .comfirm {
    background-color: #aa0404;
    color: white;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

.card_pay .comfirm:hover,
.pix_box .comfirm:hover {
    background-color: #4d0202;
}

.parcelas {
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: #eeeeee;
}

.card_pay>div,
.pix_box>div,
.boleto>div {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.forms {
    display: flex;
    width: 60%;
    margin: auto;
    gap: 2rem;
    align-items: start;
    flex-wrap: wrap;
}


.order-confirmation {
    text-align: center;
    padding: 2rem;
}

.order-confirmation h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.order-confirmation p {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

/* Footer */
.end {
    display: flex;
    justify-content: space-evenly;
    margin-top: 10rem;
    padding: 1.6rem;
    background-color: #444;
    font-size: 3rem;
    color: white;
}

.media {
    gap: 2rem;
    display: flex;
    align-items: center;
}

.media a {
    color: white;
}

.total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 2.8rem;
    font-weight: bold;
    color: #4d0202;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    padding: 2rem 4rem;
    margin: 3rem auto;
    border: 2px solid #4d0202;
    border-radius: 1.5rem;
    width: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: 'Cinzel Decorative', serif;
    animation: pulseTotal 2s infinite ease-in-out;
}

@media screen and (max-width: 600px) {
    .carrinho {
        width: 100vw;
        right: 0;
        padding: 1rem;
        font-size: 1rem;
    }

    .carrinho h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    .item-carrinho {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .item-carrinho img {
        width: 100px;
        height: auto;
    }

    .carrinho-total,
    .botao-finalizar {
        font-size: 1.2rem;
        width: 100%;
        margin-top: 1rem;
    }

    .botao-remover {
        padding: 0.4rem 0.8rem;
        font-size: 0.9rem;
    }
}